<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Generate...</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.04</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).GenerateMockCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).GenerateMockCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Mock</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).GenerateEquatableCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).GenerateEquatableCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Equatable</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).GenerateHashableCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).GenerateHashableCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Hashable</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).GenerateInitCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).GenerateInitCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Init</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).GenerateCodingCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).GenerateCodingCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>NSCoding</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 wangjie. All rights reserved.</string>
</dict>
</plist>
